* {
  text-align: center;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('');
  background-color: #111;
  background-size: 30%;
  background-position: bottom;
  background-repeat: no-repeat;
}


.hidden {
  display: none;
}

.playerPokemonStats {
  color: #ffff;
}

.machinePokemonStats {
  color: #ffff;
}

#result {
  color: #ffff;
}