* {
  text-align: center;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('');
  background-color: #111;
  background-size: 30%;
  background-position: bottom;
  background-repeat: no-repeat;
}


.hidden {
  display: none;
}

.playerPokemonStats {
  color: #ffff;
}

.machinePokemonStats {
  color: #ffff;
}

span#playerPokemon{
  text-transform: uppercase;
}
span#machinePokemon {
  text-transform: uppercase;
}


#result {
  color: #ffff;
}

h1 {
  color: #ffff;
}

img.playerCase {
  background-color: rgb(255,255,255);
  border-radius: 50%;
  margin-bottom: 0.6rem;
 
  
}

img.machineCase {
  background-color: rgb(233, 8, 8);
  border-radius: 50%;
  margin-bottom: 0.6rem;
 
}

span.playerPokemonStats {
  border-top: 10rem;
 
}

div.playerInfo {
  margin-bottom: 3rem;
}